/*all-demotype */
body {
    font-family: "Times New Roman", Times, serif !important;
}

#the_head:hover {
    text-decoration: none !important;
    color: #215641 !important;
}

#the_head {
    text-decoration: none !important;
    color: #215641 !important;
    font-family: "Times New Roman", Times, serif !important;
    font-size: 19px !important
}

#the_description {
    font-family: "Times New Roman", Times, serif !important;
    font-size: 16px !important
}

#read_more:hover {
    text-decoration: none !important;
    color: #215641 !important;
}

#read_more {
    text-decoration: none !important;
    color: #215641 !important;
    font-family: "Times New Roman", Times, serif !important;
    font-size: 13px !important
}

.full_body {
    display: flex;
}

#the_image {
    width: 100%;
    border-top-left-radius: 15px !important;
    border-bottom-left-radius: 15px !important;
    min-height: 21vh !important
}

#thefull_body {
    border-radius: 15px !important;
    box-shadow: rgba(60, 64, 67, 0.01) 5px 1px 2px 3px, rgba(60, 64, 67, 0.08) 2px 3px 5px 1px !important;
}

#randomposts {
    border-radius: 15px;
    box-shadow: rgba(60, 64, 67, 0.01) 5px 1px 2px 3px, rgba(60, 64, 67, 0.08) 2px 3px 5px 1px !important;
}

#popular_header {
    font-family: "Times New Roman", Times, serif !important;
    color: #215641 !important;
}

#the_title_li {
    text-decoration: none;
    font-size: 15px !important;

}

/* end of all-demotype */


/* single-demotype */
#common_color {
    color: #215641 !important;
}

.summary_data {
    border: 1px solid #ddd !important;
    border-radius: 5px !important;
    width: auto !important;
}

.the_nutrition_facts {
    box-shadow: rgba(60, 64, 67, 0.01) 5px 1px 2px 3px, rgba(60, 64, 67, 0.05) 2px 3px 5px 2px !important;
    border-radius: 5px !important;
}

.the_nutrition_summary {
    background-color: rgba(60, 64, 67, 0.03) !important;

}

.common_serving_sizes {
    background-color: rgba(60, 64, 67, 0.03) !important;
}

#hr_one {
    border: 6px solid #000000 !important;
    width: 95% !important
}

#hr_two {
    border: 3px solid #000000 !important;
    width: 95% !important
}

/* end of single-demotype */


@media screen and (min-width: 1024px) {
    .full_body {
        width: 46% !important;
    }
}
@media screen and (max-width: 1024px) {
    .main_row {
    line-height: 10px !important;    }
}

/* For Tablet View */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .full_body {
        width: 100% !important;
    }
}